# General Ignores

# Leiningen Ignores
*/pom.xml
*/target
.lein-failures
.lein-repl-history

# Eclipse Ignores
.project
.classpath
.settings
*/bin

# Development Ignores
*/local

# OS Ignores
*.DS_Store
*.swp

