
@media only screen and (device-width: 768px) {
	#outer { width: 720px; height; 290px; xbackground-color: #ffcc66; 
		xborder: thin solid red; }
}


@media only screen and (min-device-width: 481px) 
and (max-device-width: 1024px) and (orientation:portrait) {
	/* PORTRAIT */
	#content { height: 815px; xborder: 5px solid #cc0099; }
}

@media only screen and (min-device-width: 481px) 
and (max-device-width: 1024px) and (orientation:landscape) {
	/* LANDSCAPE */
	#outer { xbackground-color: silver ; height: 290px; width: 850px; xborder: thin solid #ffff00; }
	#content { xbackground-color: #669966; height: 450px; width: 970px; xborder: 10px solid red; }
	#subouter { xbackground-color: purple; height: 270px; width: 870px; xborder: thick solid navy ; }
}
-

/* 
 * .progressArea { font-size: .6em; color: #bdb6cc; }
 *
 */
.centered !important { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }

.value { margin-left: 5px; color: gray; line-height: 1.1em; }
.valueimportantblock { border: thin solid red; display: block; }
.submit-area { width: 100%; text-align: center; }

.post-form-parent { position:relative;  }

.post-form { width: 100%; text-align: center; xborder: thin solid blue; }

.labeldim { 
	color: gray; 
	float: left;
	text-align: right; 
	text-align: left ; 
	display: block;
	width: 100px;
	padding-right: 3px;
	xfont-size: .8em;
}

.highlightvalue { margin-left: 5px; xcolor: navy; font-weight: bold; font-size: 1.2em; }

.areaTitle { color: navy; font-size: 1.1em; }

.areaTitleCentered {
	font-size: 1.1em;
	text-align: center;
	float: left;
	display: block;
	width: 400px;
	font-weight: bold;
}

.leftcolumn { 
	width: 33%;
	height: 100%;
	display: block;
	border: thick solid #660099;
}

#search-consenter-list { 
	xborder-right: 5px #e0e0e0; 
	display: block;
	height: 100%;
	width: 100%;
        padding-right: 0px; 
        margin-right: 0; 
        margin-left: 0px;
        line-height: 1.1em;
	padding-bottom: 3em;
}


.red { color: red ; }

input:required:invalid, input:focus:invalid 
   { background-color: #cccccc; -maz-box-shadow: none;  }

// input:required::after { content: "*"; color: red; }
// *:required::after { content: "*"; color: red; }

.highlight { font-color: navy; font-size: 1em; background-color: yellow;}

#consenter-details { border: thin solid gray; margin: 10px; padding: 10px; 
	border-radius: 15px; -moz-border-radius: 15px;}

#consenter-details-section { 
	/* border: thin solid gray; border-radius: 15px; -moz-border-radius: 15px; */
	margin: 10px; 
	margin-top: 70px;
	padding: 10px; 
}

#consenter-details-section > h1 { font-size: 1.2em; }
#consenter-details > h1 { font-size: 1.2em; }
#consenter-details > h2 { font-size: 1.2em; color: navy; text-align: center; }
#other-section { xborder: thin solid #660099; text-align: center; }

.confirm-selection { font-size: 1.2em; display: block; text-align: center; }

div.innerform { 
	border: 1px solid gray; 
	margin: 1.2em; padding: 1.4em; border-radius: 15px; 
	-moz-border-radius: 15px; 
	}

.standout { font-weight: bold; }

.warningbox {
    border: thick solid red; margin 50px; padding: 50px; 
    background: pink;
    border-radius: 15px; -moz-border-radius: 15px; }

// .footer { background-image: "MUSC.jpg"; padding: 25px; }

#protocol-name { padding: 3px; color: navy; font-size: .8em; font-weight: bold; }
#protocol-description { padding-left: 5px; color: #222; font-size: .9em; }

.inputdata { 
	xbackground-color: #ccccff; vertical-align: middle ; 
}

.labelclass { 
	float: left; 
	text-align: right; 
	display: block; 
	padding-right: 2px;
	font-weight: bold; 
	padding-top: 7px; 
	padding-bottom: 7px; 
}

.inputclass { text-align: left; }
.inputdata .value { text-align: left ; }

/* Header Styles */
#flash { 
 background-color: white ; color: black; 
 border-bottom: thin solid black;
 text-align: center;
 padding: 10px; font-size: 1em; line-height: 1.2em; width: 100%; }

#userinfo { 
	font-size: .9em; background-color: #222222; color: white; 
	padding: 0px; 
	line-height: 1.2em; 
	width: 100%;
}

.header .title { font-size: 1.2em; text-align: center; line-height: 1.5em; } 
.header { background-color: black; color: white; } 

#consent-header !important { 
	background-color: black; color: white; 
	min-height: 36px; height: 100%; width: 100%; 
	margin: 0; padding: 0; float: left; 
} 

#consent-header > .title { text-align: center; }

/* 3rd column of header */
.header .ui-grid-b .ui-block-c { text-align: right; }
.header .ui-grid-b .ui-block-b.title { text-align: center; }

/* footer */
.footer .ui-grid-b .ui-block-b { text-align: center; }
.footer .ui-grid-b .ui-block-c { text-align: right; }
.footer .ui-grid-b { margin-left: 5px; padding: 5px; background-color: white; font-size: .8em; color: #333333; height: 40px; }

/* Styles for the Search Results */ 
.user-selected { background-color: #0000A0 ; color: white ; }

ul.search-results { list-style: none; margin: 0; padding: 0; }
.search-results li { margin: 0; padding: 0px; padding-bottom: 20px; line-height: 2em; font-weight: bold; }
.search-results li .secondary { font-size: .8em; xpadding-left: 15px; line-height: 1em; }

.sectionlegend { text-align: left; font-size: 1.2em; line-height: 1.5em;
	padding-top: 15px; }

/* grid f: 33/66*/
.ui-grid-f .ui-block-a { 
	background-color: white;
	width: 33.333%; 
	padding-right: 5px;
	position: fixed; 
	border-right: thin solid black;
	overflow: scroll; 
	-webkit-overflow-scrolling: touch;
	min-height: 400px;
	height: 770px;
}

.ui-grid-f .ui-block-b { 
	background-color: white;
	width: 66.663%; 
	margin-left: 15px;
	left: 34%;
	position: absolute;
}

.ui-grid-f .ui-block-a { clear: left; }


/* Grid for select protocols */
.ui-grid-g {  width: 100%; border: thin solid black; }
.ui-grid-g .ui-block-a {  clear: left; }

.ui-grid-g .ui-block-a {  width: 10%; xborder: thin solid red; }
.ui-grid-g .ui-block-b {  width: 60%; color: #ccccff; background-color: #ffffcc; border: thin dashed  blue; }
.ui-grid-g .ui-block-c {  width: 30%; xborder: thin solid green ; }


/* grid h: 66/33 */
.ui-grid-h .ui-block-a { 
	background-color: white;
	width: 66.6666; 
	padding-right: 5px;
	position: fixed; 
	border-right: thin solid black;
	overflow: scroll; 
	-webkit-overflow-scrolling: touch;
	min-height: 400px;
	height: 770px;
}

.ui-grid-h .ui-block-b { 
	background-color: white;
	width: 33.333%; 
	margin-left: 15px;
	left: 34%;
	position: absolute;
}

.ui-grid-h .ui-block-a { clear: left; }


/* Grid for consent collector header */
.ui-grid-i {  width: 100%; border: thin solid black; 
	background-color: black; color: white; 
}
.ui-grid-i .ui-block-a {  clear: left; }
.ui-grid-i .ui-block-aa {  clear: left; 
 background-color: black; color: white; 
}
.ui-grid-i .ui-block-bb {  background-color: black; color: white; }
.ui-grid-i .ui-block-cc {  background-color: black; color: white; }

.ui-block-aa, .ui-block-bb, .ui-block-cc, .ui-block-k { 
	margin: 0; padding: 0; border: 0; float: left; min-height: 1px; }
.ui-grid-i .ui-block-aa {  width: 10%; }
.ui-grid-i .ui-block-bb {  width: 80%; }
.ui-grid-i .ui-block-cc {  width: 10%; }

.header .ui-grid-i .ui-block-b.title { text-align: center; }
.ui-block-bb.title { text-align: center; }


ul.select-protocol-list  { list-style: none; }
ul.select-protocol-list  li {  width: 100%; display: block; }
ul.select-protocol-list  li.even { 
	background-color: white; 
	text-align: left; }
ul.select-protocol-list  li.odd { 
	xborder: 1px dashed blue; 
	xbackground-color: silver; 
	text-align: left; }

.protocol-col1 { 
	position: relative;
	left: 0px;
	width: 300px;
	font-weight: bold; text-align: left ; 
	}

.protocol-col3 { 
	position: relative; 
	font-size: .8em; 
	top: -70px;
	left: 300px;
	vertical-align: middle;
	width: 250px;
	text-align: right; }


.control-type { font-weight: bold; color: navy; }

div.finished1 { margin: 15px; text-align: center; }
div.finished2 { margin: 15px; text-align: center; }
div.finished3 { xfont-size: 1.5em; xfont-weight: bold; margin: 20px;text-align: center; }

.debug { background: yellow; color: black; font-weight: bold; }
.debug .standout  { background: #ccccff; color: #660099; font-weight: bold; }
.debug .data { background: #ffffcc; color: #660099; font-weight: normal; border: 1px solid navy; padding: 5px;}

div.section { xborder: thick solid purple; margin-bottom: 10px; padding-bottom: 5px; clear: left; }
div.render-media { border: 1px solid silver ; padding: 10px ; margin-bottom: 5px; }

div.control h1.title { font-size: 1.1em; font-weight: bold; }
div.control h1.title { font-size: 1.1em; font-weight: bold; }

div.control > .title { font-size: 1.1em; font-weight: bold; }

div.control > .text { padding-bottom: 10px; }


form.debug { background-color: gray; border: thick solid navy; }

.changed { color: red; padding-left: 5px; }

div.ui-block-a.metadata,  div.ui-block-b.metadata { padding-top: 15px; }

.ui-dialog .ui-header { height: 30px;  padding-left: 35px; padding-top: 15px; }

div.sigPad { text-align: left; margin: 0;}

canvas.pad {
}

.sigNav {
	list-style-type: none;
	padding: 0;
	width: 60%;
}

.clearButton {
	width: 100%;
}

.sigError {
	display: none;
}

.media-gallery {
    border: 2px solid black;
    border-radius: 15px;
    float: left;
    width: auto;
    padding: 0 15px 10px 15px;
    margin: 10px 0 10px 0;
    background: rgb(206,242,250);
}

.media-gallery .media-title {
    text-align: center;
}

.video-thumbnails {
    padding-top: 10px;
    overflow: hidden;
}

.video-thumbnails img {
    padding: 6px;
    background-color: black;
}

.clear {
    clear: both;
}

.ui-page-active {
    height: 100% !important;
}

.ui-dialog .ui-header, 
.ui-dialog .ui-content, 
.ui-dialog .ui-footer {
    margin: 0px auto 0px auto;
    max-width: 700px; 
    max-height: 500px;
}
