
@media only screen and (device-width: 768px) {
	#outer { width: 720px; height; 290px; xbackground-color: #ffcc66; 
		xborder: thin solid red; }
	#content { width: 750px; height: 300px; 
		background-color: #ccffff; xborder: 10px solid #66ffff; }
}


@media only screen and (min-device-width: 481px) 
and (max-device-width: 1024px) and (orientation:portrait) {

	/* PORTRAIT */
	#outer { xbackground-color: pink ; height: 490px; width: 455px; xborder: thin solid green; }

	#content { xbackground-color: white /* pink /* #ffffcc /*yellowish*/;  /* ipad 1024x768*/
		height: 760px; width: 740px; xborder: thin solid #cc0099; }

	#subouter { background-color: orange; height: 200px; width: 475px; border: thin solid #3399ff; } }


@media only screen and (min-device-width: 481px) 
and (max-device-width: 1024px) and (orientation:landscape) {
	/* LANDSCAPE */
	#outer { xbackground-color: silver ; height: 290px; width: 850px; xborder: thin solid #ffff00; }
	#content { xbackground-color: #669966; height: 450px; width: 970px; xborder: 10px solid red; }
	#subouter { xbackground-color: purple; height: 270px; width: 870px; xborder: thick solid navy ; }
}
-

.title { text-align: center; }
/* 
 * .progressArea { font-size: .6em; color: #bdb6cc; }
 *
 */
.centered { text-align: center; }
.left { text-align: left; }

.value { margin-left: 5px; color: gray; line-height: 1.1em; }
.valueimportantblock { display: block; float: left; }

.labeldim { 
	color: gray; 
	float: left;
	text-align: right; 
	display: block;
	width: 100px;
	padding-right: 3px;
	font-size: .8em;
}

.highlightvalue { margin-left: 5px; color: navy; font-weight: bold; font-size: 1.2em; xbackground-color: #ccccff; }

.areaTitle { color: navy; font-size: 1.1em; }

.areaTitleCentered {
	font-size: 1.1em;
	text-align: center;
	float: left;
	display: block;
	width: 400px;
	font-weight: bold;
}

.leftcolumn { 
	width: 33%;
	height: 100%;
	display: block;
	border: thick solid #660099;
}

#search-consenter-list { 
	border-right: 1px #e0e0e0; 
	display: block;
	height: 100%;
	width: 100%;
        padding-right: 5px; 
        margin-right: 0; 
        margin-left: 0px;
        line-height: 1.1em;
	padding-bottom: 3em;
}


input:required:invalid, input:focus:invalid 
		{ background-color: #cccccc; -maz-box-shadow: none; }

.highlight { font-color: navy; font-size: 1em; background-color: yellow;}

//=========== Forms
.bordered { border: thin solid gray; margin: 10px; padding: 10px; 
	border-radius: 15px; -moz-border-radius: 15px;}

.bordered-half { 
	border: 1px solid #a3a3a3; background: white; 
	margin: 3px; padding: 3px; 
	border-radius: 10px; -moz-border-radius: 10px; width: 300px; 
}


#consenter-detail-section { border: thin solid gray; margin: 10px; padding: 10px; 
	border-radius: 15px; -moz-border-radius: 15px;}

#consenter-detail { border: thin solid gray; margin: 10px; padding: 10px; 
	border-radius: 15px; -moz-border-radius: 15px;}


div.innerform { 
	border: 1px solid gray; 
	margin: 5px; padding: 5px; border-radius: 15px; 
	-moz-border-radius: 15px; margin: 50px; 
	}

div.innerform { xtext-align: right; } 

.wideForm { width: 500px; }

.standardForm { 
	// border: thin solid #660099; 
	// width: "300px" 
	margin: 0px; padding: 0px; 
}

.standout { font-weight: bold; }

.warningbox {
    border: thick solid red; margin 50px; padding: 50px; 
    background: pink;
    border-radius: 15px; -moz-border-radius: 15px; }

#loginFormDiv { border: thin solid orange; margin: 50px; padding: 50px; 
	border-radius: 15px; -moz-border-radius: 15px;}

.footer { background-image: "MUSC.jpg"; padding: 25px; }

#protocol-name { padding: 3px; color: navy; font-size: .8em; font-weight: bold; }
#protocol-description { padding-left: 5px; color: #222; font-size: .9em; }

.inputdata { xbackground-color: #ccccff; vertical-align: middle ; }
.labelclass { float: left; text-align: right; display: block; width: 200px; padding-right: 2px;
	font-weight: bold; padding-top: 7px; padding-bottom: 7px; }
.inputdata .value { text-align: left ; }

/* Header Styles */
#flash { 
 background-color: white ; color: black; 
 border-bottom: thin solid black;
 text-align: center;
 padding: 10px; font-size: 1.5em; line-height: 2.0em; width: 100%; }

#userinfo { 
	font-size: .9em; background-color: #222222; color: white; 
	padding: 0px; 
	line-height: 1.2em; 
	width: 100%;
}

.header .value { color: yellow; } 
.header .label { color: silver; } 
.header .title { font-size: 1.2em; } 

/* 3rd column of header */
.header .ui-grid-b .ui-block-c { text-align: right; }

/* Styles for the Search Results */ 
#consenter-details-section {
	background-color: white;
	border: 1px solid #a3a3a3; 
	margin: 3px; padding: 3px; 
	border-radius: 10px; -moz-border-radius: 10px; 
	width: 600px; 
}

.user-selected { background-color: black ; color: white ; }

ul.search-results {
	list-style: none; margin: 0; padding: 0; border: none;
}

.search-results li { margin: 0; padding-left: 2px; padding-bottom: 20px; line-height: 2em; }
.search-results li .secondary { font-size: .8em; padding-left: 15px; line-height: 1em; }

/* grid f: 66/33*/
.ui-grid-f .ui-block-a { width: 33.333%; }
.ui-grid-f .ui-block-b { width: 66.663%; }
.ui-grid-f .ui-block-a { clear: left; }
