body{
	margin:0;
	border:none;
}

div{
	margin:0;
	border:none;
}

span{
	margin:0;
	border:none;
}

h1{
	margin:0;
	border:none;
}

h2{
	margin:0;
	border:none;
}

h3{
	margin:0;
	border:none;
}

h4{
	margin:0;
	border:none;
}

h5{
	margin:0;
	border:none;
}

h6{
	margin:0;
	border:none;
}