div#consent-designer{

}

/*
 Top level containers
*/
div.consent-designer-pane{
	position: relative;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

div.consent-designer-selector{
	background-color: #DFEFFC;
	border-right: solid 1px blue;
	left: 0;
	top: 0;
	bottom: 0;
	width: 7.95em;
	position: absolute;
}

div.consent-designer-content{
	background-color: #F5F8F9;
	right: 0;
	top: 0;
	bottom: 0;
	left: 8em;
	position: absolute;
}


/*
 Labelling Controls
*/
div.consent-designer-header{
	text-align: center;
	font-weight: bold;
}

/*
 Dashboard Control
*/
div.consent-designer-widget-dashboard{
	position: relative;
	width: 100%;
	height: 3em;
	text-align: center;
}

div.consent-designer-widget-dashboard img{
	padding: .5em;
	height: 32px;
	width: 32px;
}

img.consent-designer-resize{
	
}

img.consent-designer-close{
	margin-left: 3em;
}

/*
 Selector Control
*/
ul.consent-designer-selector{
	padding-left: 0;
	width: 8em;
}

ul.consent-designer-selector li{
	list-style-type: none;
	padding: .25em .25em .25em .5em;
	border-top: solid 1px #DFEFFC;
	border-bottom: solid 1px #DFEFFC;
	border-right: solid 1px blue;
}


ul.consent-designer-selector li.spacer{
	text-decoration: underline;
	padding: .25em .25em .25em .25em;
}

ul.consent-designer-selector li.selected{
	list-style-type: none;
	padding: .25em .25em .25em 1em;
	background-color: #F5F8F9;
	border-top: solid 1px blue;
	border-right: solid 1px #F5F8F9;
	border-bottom: solid 1px blue;
	font-weight: bold;
}

/*
 Data Container and Controls
*/
div.consent-designer-data{
	position: relative;
	width: 100%;
	display: block;
	margin-left: .5em;
}

div.consent-designer-data-fields{
	position: absolute;
	top: 0;
	left: 0;
	right: 12em;
}

div.consent-designer-data-actions{
	position: absolute;
	top: 0;
	right: 0;
	width: 12em;
	text-align: center;
}

div.consent-designer-data-save{
	margin-top: 1.25em;
	width: 8em;
	padding: .3em;
}

div.consent-designer-data-delete{
	margin-top: 1.25em;
	width: 8em;
	padding: .3em;
}

div.consent-designer-input{
	position: relative;
	width: 100%;
}

div.consent-designer-label{
	position: relative;
	width: 100%;
}

input.consent-designer-input{
	position: relative;
	width: 100%;
}

select.consent-designer-input{
	position: relative;
	width: 100%;
}

label.consent-designer-checkbox{
	float: left;
	margin-left: .25em;
}

input.consent-designer-checkbox{
	float: left;
	margin-top: .6em;
}

table.consent-designer-media{
	width:100%;
	border: solid 1px gray;
}
tr.consent-designer-media{
	
}
th.consent-designer-media{
	border-bottom: dashed 1px gray;
}
td.consent-designer-media{
	border-bottom: dashed 1px gray;
}
th.consent-designer-media-action{
	border-bottom: dashed 1px gray;
	width: 4em;
	text-align: right;
}
td.consent-designer-media-action{
	border-bottom: dashed 1px gray;
	width: 4em;
	text-align: right;
}
img.consent-designer-media-action{
	height: 1.0em;
	width: 1.0em;
	margin-left: .2em;
}
