#dialog{
	font-size: 1.0em;
}

div#progress{
	display: none;
}

img.progress{
	position: absolute;
}

select.language{
	position: absolute;
	margin: 0;
	padding: 0;
	top: .5em;
	left: .5em;
	width: 8em;
}
textarea.i18ntext{
	overflow: scroll;
	position: absolute;
	margin: 0;
	padding: 0;
	top: .5em;
	bottom: 0em;
	left: 9em;
	right: .5em;
}

select.dialog-choose{
	width: 80%;
	left: 10%;
}